body {
        padding-top: 90px;

    }
   * {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
  }
  html {
  position: relative;
  min-height: 100%;
}
  /* -----------------------------  NAVBAR TOP -------------------------- */
  .navbar {
  background-color: #ffffff;
  border-bottom: 1px solid #eeeeee;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #fff;
}
 .navbar a:hover {
    color: rgb(34,34,34);
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
 }
  .navbar-inverse .navbar-brand {
    text-decoration: none;
    color: #2a2a2a !important;
    letter-spacing: 0.3em;
    font-size: 1.4em;
    font-weight: 200;
 }
 .navbar-inverse .navbar-brand:hover {
    color: rgb(142,42,139) !important;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
  }
.navbar-nav > li > a {
    color: #989898;
    font-family: 'Raleway', sans-serif;
    font-size: .9em;
    font-weight: 300;
    letter-spacing: 0.15em;
    text-decoration: none;
    text-transform: uppercase;
}
 ul.nav a:hover {
  color: rgb(142,42,139) !important;
  transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.navbar-inverse .navbar-toggle {
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-inverse .navbar-toggle:hover {
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
}
.navbar-inverse .navbar-toggle:focus {
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
}
.navbar-inverse .navbar-nav>.active>a{
  color: rgb(142,42,139);
  background-color: #fff;
}
.navbar-inverse .navbar-nav>.active>a:hover {
  color: rgb(142,42,139) !important;
  background-color: #fff;
}
.visible-xs {
  letter-spacing: 0.1em;
}

/**************
  Drop down menu navbar

  Bootstrap overrides 💅🏻
******************/
ul.dropdown-menu {
  min-width: 128px;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    background-color: #fff !important;
}

.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border: 1px solid #eee;
    color: #9d9d9d;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #9d9d9d;
    white-space: nowrap;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    background-color: #fff !important;
    color: #8e2a8b !important;
}

/* ------------------------------- MAIN CONTENT  --------------------- */

/* ------------------------------- IMAGES ---------------------------- */
 .img-responsive {
  margin-bottom: 30px;
 }
/* ------------------------------- TYPOGRAPHY ------------------------- */

p {
  padding-top: 1em;
  font-weight: 200;
  display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
h2 {
    font-size: 1.4em;
    margin-bottom: 15px;
    padding-top: 10px;
    line-height: 1.3em;
    font-family: 'futura-pt', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 500;
}

h3 {
  font-size: 1.2em;
    margin-bottom: 15px;
    line-height: 1.3em;
    font-weight: 300;
}
/* ------------------------------- ICONS ------------------------------ */
i {
  padding: 0 0.2em 0 0.2em;
}

/* ------------------------------- FOOTER ----------------------------- */
.footer {
    width: 100%;
    height: 100px;
    background-color: none;
    padding-top: 20px;
    bottom: 0;
    border-top: 1px solid #eeeeee;
    margin-top: 40px;
    position: relative;

}
 .spacer {
  padding: 0 1em 0 1em;
 }
 i {
  color: rgb(142,42,139);
 }
.wrap {
  margin-bottom: 8em;
}
 h5 {
  padding: 0 0 1em 0;
}
#purple{color:#8e2a8b;}
